.layout {

}

.masterbar {
	background: #4c5be2;
	color: white;
	height: 46px;
	flex: none;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 12px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.sidebar {
	background: #e9eff3;
	width: 270px;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 46px;
	bottom: 0;
	padding: 12px;
	box-sizing: border-box;
	overflow: scroll;
}

.content {
	margin-left: 270px;
	margin-top: 46px;
	padding: 12px;
}

.title {
	color: inherit;
	text-decoration: none;
	font-size: 16px;
}

.tagline {
	margin-left: auto;
}

.button {
	margin-left: 12px;
}

.input {
	margin-left: 6px;
	margin-right: 6px;
}

.select {
	margin-left: 6px;
	margin-right: 6px;
}

.table {
	font-family: monospace;
	flex: auto;
}

.text-table {
	white-space: pre-wrap;
}

.push {
	font-family: monospace;
	margin-bottom: 12px;
}

.checklist {
	margin-top: 12px;
}

.checklist__item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
